[Unit]

Description=ASCON Pilot-Server

After=network.target

 

[Service]

User=pilotuser

Group=pilotuser

Type=simple

WorkingDirectory=/opt/pilot-servers/slot_2

Restart=always

RestartSec=3

ExecStart=/opt/pilot-servers/slot_2/Ascon.Pilot.Daemon /opt/pilot-servers/slot_2/settings.xml

ExecStop=/bin/kill -s 3 $MAINPID

 

[Install]

WantedBy=multi-user.target
