[Unit]

Description=ASCON Pilot-Update

After=network.target

 

[Service]

User=pilotuser

Group=pilotuser

Type=oneshot

RemainAfterExit=yes

WorkingDirectory=/opt/pilot-servers/slot_4

ExecStart=/bin/sh /opt/pilot-servers/slot_4/bin/updateScript.sh /opt/pilot-servers/slot_4/Update /opt/pilot-servers/slot_4 pilot-server_4.service pilot-update_4.service

 

[Install]

WantedBy=multi-user.target
