[Unit]

Description=ASCON Pilot-Update

After=network.target

 

[Service]

User=pilotuser

Group=pilotuser

Type=oneshot

RemainAfterExit=yes

WorkingDirectory=/opt/pilot-servers/slot_1

ExecStart=/bin/sh /opt/pilot-servers/slot_1/bin/updateScript.sh /opt/pilot-servers/slot_1/Update /opt/pilot-servers/slot_1 pilot-server_1.service pilot-update_1.service

 

[Install]

WantedBy=multi-user.target
